@import "tailwindcss";

@layer components {
  @media (max-width: 767px) {
    .auth-card:has([data-auth-welcome]) {
      background-image: url("/images/auth-container-background.png");
      background-size: cover;
      background-position: center;
    }
  }
}

:root {
  --color-text: #1c1c1e;
  --color-error: #ff0000;
  --color-button-disabled: #e4e4e4;
  --color-overlay: #9587f566;

  --color-violet: #7769e1;
  --color-violet-1: #615aa399;
  --color-violet-2: #615aa380;
  --color-violet-ultra-light: #F5F4FF;
  --color-violet-light: #cec8ff;
  --color-violet-dark: #615aa3;
  --color-gray: #747474;
  --color-gray-light: #f5f6f8;
  --color-gray-1: #eeeeee;
  --color-gray-2: #efeef7;
  --color-gray-dark: #c5c5c5;
  --color-black-light: #000000b3;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* кастомный стиль полосы прокрутки в чатах*/
.scroll-custom:hover {
  overflow-y: auto;
  /* Для Firefox */
  /* scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #f5f6f8; */

  &::-webkit-scrollbar {
    display: block;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f5f6f8;
  }

  &::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.scroll-custom {
  &::-webkit-scrollbar {
    display: none;
  }
}
